Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [1]:
def extract_company(email):
    return email.split("@")[-1].split('.')[0]
extract_company(input())

amy@google.com

'google'

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically

In [2]:
my_str=input()
word=my_str.split(',')
word.sort()
for i in word:
    print(i,end=' ')

without,hello,bag,world
bag hello without world

## SETS

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
print("banana" in thisset)

{'apple', 'cherry', 'banana'}
True

In [4]:
t = {"apple", "banana", "cherry"}
for x in t:
  print(x)

apple
cherry
banana

In [5]:
t.add("orange")
print(t)

{'apple', 'orange', 'cherry', 'banana'}

In [6]:
t={"apple","banana"}
t.update(["cherry","chiku"])
print(t)
print(len(t))

{'apple', 'chiku', 'cherry', 'banana'}
4

In [7]:
t.discard("chiku")
print(t)

{'apple', 'cherry', 'banana'}

In [8]:
t.pop()

'apple'

In [9]:
print(t)

{'cherry', 'banana'}

In [10]:
t.clear()
print(t)

set()

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [12]:
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

# QUESTION NO 04
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [13]:
def getMissingNo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(A) 
    return total - sum_of_A 
A = [1, 2, 4, 5, 6] 
miss = getMissingNo(A) 
print(miss)

3.0

# QUESTION 5
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [21]:
list1 = [10, 20, 10, 20, 30, 40, 30, 50]
list2 = []
for n in list1:
    if n not in list2:
        list2.append(n)
print(list2)

[10, 20, 30, 40, 50]